@model MVC_StokTakip.Models.Entity_Framework.TBL_URUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="10" placeholder="Ürün adını giriniz"/> 
    </div>
    <div>
        <label style="margin-top: 5px">Markası</label>
        <input type="text" name="MARKA" class="form-control" required="" />
    </div>
    <div>
        <label style="margin-top: 5px">Ürün Kategorisini Seçiniz</label>
        @Html.DropDownListFor(m => m.TBL_KATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div>
        <label style="margin-top: 5px">Ürünün Fiyatı</label>
        <input type="text" name="FIYAT" class="form-control" required="" />
    </div>
    <div>
        <label style="margin-top: 5px">Ürün Stok</label>
        <input type="text" name="STOK" class="form-control" required="" />
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

