@model MVC_StokTakip.Models.Entity_Framework.TBL_KATEGORILER
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KATEGORIID)
        @Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })

        @Html.LabelFor(m => m.KATEGORIADI)
        @Html.TextBoxFor(m => m.KATEGORIADI, new { @class = "form-control" })
    </div>

    <div>
        <button class="btn btn-warning">Kategori Güncelle</button>
    </div>
}   


