
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adi</label>
        <input type="text" name="URUN" class="form-control" />
        <label>Müşteri Bilgileri</label>
        <input type="text" name="MUSTERI" class="form-control" />
        <label>Ürün Adet</label>
        <input type="text" name="ADET" class="form-control" />
        <label>Ürünün Fiyatı</label>
        <input type="text" name="FIYAT" class="form-control" />
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info">Satış Ekle</button>
    </div>
</form>

